In [1]:
from sqlite3 import connect
import pandas as pd

In [2]:
conn = connect(r"C:\Users\madas\Desktop\Capstone\wild fires\FPA_FOD_20170508.sqlite")

In [3]:
conn

In [4]:
tables = pd.read_sql(sql = """SELECT name FROM sqlite_master  
  WHERE type='table';""",con = conn )

In [5]:
tables

                                  name
0                      spatial_ref_sys
1                   spatialite_history
2                      sqlite_sequence
3                     geometry_columns
4                  spatial_ref_sys_aux
5               views_geometry_columns
6               virts_geometry_columns
7          geometry_columns_statistics
8    views_geometry_columns_statistics
9    virts_geometry_columns_statistics
10        geometry_columns_field_infos
11  views_geometry_columns_field_infos
12  virts_geometry_columns_field_infos
13               geometry_columns_time
14               geometry_columns_auth
15         views_geometry_columns_auth
16         virts_geometry_columns_auth
17                  sql_statements_log
18                        SpatialIndex
19                ElementaryGeometries
20                                 KNN
21                               Fires
22                     idx_Fires_Shape
23                idx_Fires_Shape_node
24               idx_Fires_Shape_rowid
25              idx_Fires_Shape_parent
26          NWCG_UnitIDActive_20170109

In [6]:
fires_data = pd.read_sql(sql = 'select * from Fires', con = conn)

In [8]:
fires_data.head().T

,0,1,2,3,4
OBJECTID,1,2,3,4,5
FOD_ID,1,2,3,4,5
FPA_ID,FS-1418826,FS-1418827,FS-1418835,FS-1418845,FS-1418847
SOURCE_SYSTEM_TYPE,FED,FED,FED,FED,FED
SOURCE_SYSTEM,FS-FIRESTAT,FS-FIRESTAT,FS-FIRESTAT,FS-FIRESTAT,FS-FIRESTAT
NWCG_REPORTING_AGENCY,FS,FS,FS,FS,FS
NWCG_REPORTING_UNIT_ID,USCAPNF,USCAENF,USCAENF,USCAENF,USCAENF
NWCG_REPORTING_UNIT_NAME,Plumas National Forest,Eldorado National Forest,Eldorado National Forest,Eldorado National Forest,Eldorado National Forest
SOURCE_REPORTING_UNIT,0511,0503,0503,0503,0503
SOURCE_REPORTING_UNIT_NAME,Plumas National Forest,Eldorado National Forest,Eldorado National Forest,Eldorado National Forest,Eldorado National Forest
LOCAL_FIRE_REPORT_ID,1,13,27,43,44
LOCAL_INCIDENT_ID,PNF-47,13,021,6,7
FIRE_CODE,BJ8K,AAC0,A32W,None,None
FIRE_NAME,FOUNTAIN,PIGEON,SLACK,DEER,STEVENOT
ICS_209_INCIDENT_NUMBER,None,None,None,None,None
ICS_209_NAME,None,None,None,None,None
MTBS_ID,None,None,None,None,None
MTBS_FIRE_NAME,None,None,None,None,None
COMPLEX_NAME,None,None,None,None,None
FIRE_YEAR,2005,2004,2004,2004,2004
DISCOVERY_DATE,2453403.5,2453137.5,2453156.5,2453184.5,2453184.5
DISCOVERY_DOY,33,133,152,180,180
DISCOVERY_TIME,1300,0845,1921,1600,1600
STAT_CAUSE_CODE,9.0,1.0,5.0,1.0,1.0
STAT_CAUSE_DESCR,Miscellaneous,Lightning,Debris Burning,Lightning,Lightning
CONT_DATE,2453403.5,2453137.5,2453156.5,2453189.5,2453189.5
CONT_DOY,33.0,133.0,152.0,185.0,185.0
CONT_TIME,1730,1530,2024,1400,1200
FIRE_SIZE,0.1,0.25,0.1,0.1,0.1
FIRE_SIZE_CLASS,A,A,A,A,A
LATITUDE,40.036944,38.933056,38.984167,38.559167,38.559167
LONGITUDE,-121.005833,-120.404444,-120.735556,-119.913333,-119.933056
OWNER_CODE,5.0,5.0,13.0,5.0,5.0
OWNER_DESCR,USFS,USFS,STATE OR PRIVATE,USFS,USFS
STATE,CA,CA,CA,CA,CA
COUNTY,63,61,17,3,3
FIPS_CODE,063,061,017,003,003
FIPS_NAME,Plumas,Placer,El Dorado,Alpine,Alpine
Shape,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [7]:
Fires_Shape = pd.read_sql(sql = 'select * from idx_Fires_Shape', con = conn)

In [9]:
Fires_Shape.head().T

                 0             1             2             3             4
pkid  1.064078e+06  1.064195e+06  1.729139e+06  1.064196e+06  1.064225e+06
xmin -1.668694e+02 -1.662693e+02 -1.661667e+02 -1.661527e+02 -1.660294e+02
xmax -1.668694e+02 -1.662693e+02 -1.661667e+02 -1.661527e+02 -1.660294e+02
ymin  6.598260e+01  6.511590e+01  6.583330e+01  6.518259e+01  6.592690e+01
ymax  6.598260e+01  6.511591e+01  6.583331e+01  6.518260e+01  6.592690e+01

In [10]:
Fires_Shape_node = pd.read_sql(sql = 'select * from idx_Fires_Shape_node', con = conn)

In [24]:
Fires_Shape_node

       nodeno                                               data
0           1  b'\x00\x04\x00\x03\x00\x00\x00\x00\x00\x00u\xa...
1           2  b'\x00\x00\x00\x0f\x00\x00\x00\x00\x00\x11oT\x...
2           3  b'\x00\x00\x00"\x00\x00\x00\x00\x00\x18\xfd\xb...
3           4  b'\x00\x00\x00\x19\x00\x00\x00\x00\x00\x10@.\x...
4           5  b'\x00\x00\x00 \x00\x00\x00\x00\x00\x10\xd4\x1...
...       ...                                                ...
72258   72259  b'\x00\x00\x00\x15\x00\x00\x00\x00\x00\x05lI\x...
72259   72260  b'\x00\x00\x00\x15\x00\x00\x00\x00\x00\x1c\xa1...
72260   72261  b"\x00\x00\x00\x1b\x00\x00\x00\x00\x00\x19W\x1...
72261   72262  b'\x00\x00\x00\x0e\x00\x00\x00\x00\x00\x01\xcb...
72262   72263  b"\x00\x00\x00\x15\x00\x00\x00\x00\x00\x106\x0...

[72263 rows x 2 columns]

In [11]:
Fires_Shape_rowid = pd.read_sql(sql = 'select * from idx_Fires_Shape_rowid', con = conn)

In [23]:
Fires_Shape_rowid

           rowid  nodeno
0              1    2709
1              2    2750
2              3    6313
3              4    5777
4              5    5777
...          ...     ...
1880460  1880461   43240
1880461  1880462   72082
1880462  1880463   72082
1880463  1880464   72082
1880464  1880465   68794

[1880465 rows x 2 columns]

In [12]:
Fires_Shape_rowid = pd.read_sql(sql = 'select * from idx_Fires_Shape_parent', con = conn)

In [25]:
Fires_Shape_rowid

           rowid  nodeno
0              1    2709
1              2    2750
2              3    6313
3              4    5777
4              5    5777
...          ...     ...
1880460  1880461   43240
1880461  1880462   72082
1880462  1880463   72082
1880463  1880464   72082
1880464  1880465   68794

[1880465 rows x 2 columns]

In [13]:
NWCG_UnitIDActive_20170109 = pd.read_sql(sql = 'select * from NWCG_UnitIDActive_20170109', con = conn)

In [27]:
NWCG_UnitIDActive_20170109.T

,0,1,2,3,4,5,6,7,8,9,...,5857,5858,5859,5860,5861,5862,5863,5864,5865,5866
OBJECTID,1,2,3,4,5,6,7,8,9,10,...,5858,5859,5860,5861,5862,5863,5864,5865,5866,5867
UnitId,USAKCAN,USAKCEKX,USAKCFFX,USAKCFMX,USAKCFQ,USAKCGF,USAKCGFC,USAKCGFX,USAKCGKX,USAKCGMX,...,USWYWBD,USWYWEX,USWYWOD,USWYWRA,USWYWSO,USWYWXW,USWYWYI,USWYWYS,USWYYNP,USWYYNPC
GeographicArea,AK,AK,AK,AK,AK,AK,AK,AK,AK,AK,...,RM,RM,RM,RM,RM,RM,RM,RM,NR,NR
Gacc,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,USAKACC,...,USCORMC,USCORMC,USCORMC,USCORMC,USCORMC,USCORMC,USCORMC,USCORMC,USMTNRC,USMTNRC
WildlandRole,Resource Provider Only,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Dispatch/Coordination Center,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,...,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Incident Host Geographic,Dispatch/Coordination Center
UnitType,Non-Government,US County/Local,US County/Local,US County/Local,US Federal,US Federal,US Federal,US County/Local,US County/Local,US County/Local,...,US Federal,US County/Local,US Federal,US Federal,US Federal,US Federal,Non-Government,US State,US Federal,US Federal
Department,NG,AK,AK,AK,DOD,USDA,USDA,AK,AK,AK,...,DOI,WY,DOI,DOI,DOI,DOC,NG,WY,DOI,DOI
Agency,ANC,C&L,C&L,C&L,USAF,FS,FS,C&L,C&L,C&L,...,BLM,C&L,BLM,BIA,BLM,NWS,TNC,SF,NPS,NPS
Parent,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Country,US,US,US,US,US,US,US,US,US,US,...,US,US,US,US,US,US,US,US,US,US
State,AK,AK,AK,AK,AK,AK,AK,AK,AK,AK,...,WY,WY,WY,WY,WY,WY,WY,WY,WY,WY
Code,CAN,CEKX,CFFX,CFMX,CFQ,CGF,CGFC,CGFX,CGKX,CGMX,...,WBD,WEX,WOD,WRA,WSO,WXW,WYI,WYS,YNP,YNPC
Name,Calista Regional Native Corporation,Central Emergency Services,City Fairbanks Fire Department,Central Mat-Su Fire Department,Clear Air Force Station,Chugach National Forest,Chugach National Forest Dispatch,Chena Goldstream Fire & Rescue,US Coast Guard - Kodiak,Chigiak,...,Wind River / Bighorn Basin District,Weston County,Worland Field Office,Wind River Agency,Wyoming State Office,National Weather Service,Wyoming Field Office,Wyoming State Forestry,Yellowstone National Park,Yellowstone National Park Dispatch Center

In [15]:
spatial_ref_sys = pd.read_sql(sql = 'select * from spatial_ref_sys', con = conn)

In [30]:
spatial_ref_sys

,srid,auth_name,auth_srid,ref_sys_name,proj4text,srtext
0,-1,NONE,-1,Undefined - Cartesian,,Undefined
1,0,NONE,0,Undefined - Geographic Long/Lat,,Undefined
2,2000,epsg,2000,Anguilla 1957 / British West Indies Grid,+proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...,"PROJCS[""Anguilla 1957 / British West Indies Gr..."
3,2001,epsg,2001,Antigua 1943 / British West Indies Grid,+proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...,"PROJCS[""Antigua 1943 / British West Indies Gri..."
4,2002,epsg,2002,Dominica 1945 / British West Indies Grid,+proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...,"PROJCS[""Dominica 1945 / British West Indies Gr..."
...,...,...,...,...,...,...
4919,187940,mj10777.de,187940,DHDN / Soldner 40 Rissenthal,+proj=cass +lat_0=49.47801819 +lon_0=6.7586433...,"PROJCS[""DHDN / Soldner 40 Rissenthal"",GEOGCS[""..."
4920,187941,mj10777.de,187941,DHDN / Soldner Bayern,+proj=cass +lat_0=48.13959111 +lon_0=11.574370...,"PROJCS[""DHDN / Soldner Bayern"",GEOGCS[""DHDN"",D..."
4921,187998,mj10777.de,187998,DHDN / Ferro / Deutsches_Hauptdreiecksnetz,+proj=longlat +ellps=bessel +datum=potsdam +pm...,"PROJCS[""DHDN / Ferro / Deutsches_Hauptdreiecks..."
4922,187999,mj10777.de,187999,DHDN / Brandenburger Tor,+proj=cass +lat_0=52.41864827777778 +lon_0=13....,"PROJCS[""DHDN / Soldner Brandenburger Tor"",GEOG..."
4923,325833,mj10777.de,325833,ETRS89 / UTM zone 33N (Brandenburg),+proj=utm +zone=33 +ellps=GRS80 +units=m +no_defs,"PROJCS[""ETRS89 / UTM zone 33N (Brandenburg)"",G..."

In [31]:
spatialite_history = pd.read_sql(sql = 'select * from spatialite_history', con = conn)

In [34]:
spatialite_history

,event_id,table_name,geometry_column,event,timestamp,ver_sqlite,ver_splite
0,1,spatial_ref_sys,None,table successfully created,2017-05-17T22:00:26.772Z,3.9.2,4.4.0-RC0
1,2,geometry_columns,None,table successfully created,2017-05-17T22:00:26.796Z,3.9.2,4.4.0-RC0
2,3,geometry_columns,None,trigger 'geometry_columns_f_table_name_insert'...,2017-05-17T22:00:26.796Z,3.9.2,4.4.0-RC0
3,4,geometry_columns,None,trigger 'geometry_columns_f_table_name_update'...,2017-05-17T22:00:26.796Z,3.9.2,4.4.0-RC0
4,5,geometry_columns,None,trigger 'geometry_columns_f_geometry_column_in...,2017-05-17T22:00:26.797Z,3.9.2,4.4.0-RC0
5,6,geometry_columns,None,trigger 'geometry_columns_f_geometry_column_up...,2017-05-17T22:00:26.797Z,3.9.2,4.4.0-RC0
6,7,geometry_columns,None,trigger 'geometry_columns_geometry_type_insert...,2017-05-17T22:00:26.797Z,3.9.2,4.4.0-RC0
7,8,geometry_columns,None,trigger 'geometry_columns_geometry_type_update...,2017-05-17T22:00:26.798Z,3.9.2,4.4.0-RC0
8,9,geometry_columns,None,trigger 'geometry_columns_coord_dimension_inse...,2017-05-17T22:00:26.798Z,3.9.2,4.4.0-RC0
9,10,geometry_columns,None,trigger 'geometry_columns_coord_dimension_upda...,2017-05-17T22:00:26.798Z,3.9.2,4.4.0-RC0
10,11,geom_cols_ref_sys,None,view 'geom_cols_ref_sys' successfully created,2017-05-17T22:00:26.798Z,3.9.2,4.4.0-RC0
11,12,spatial_ref_sys,None,table successfully populated,2017-05-17T22:00:27.240Z,3.9.2,4.4.0-RC0
12,13,Fires,Shape,"Geometry [POINT,XY,SRID=4269] successfully rec...",2017-05-17T22:06:26.024Z,3.9.0,4.0.0
13,14,Fires,Shape,R*Tree Spatial Index successfully created,2017-05-17T22:06:26.044Z,3.9.0,4.0.0
14,15,Fires,shape,SpatialIndex successfully disabled,2017-05-17T22:06:26.109Z,3.9.0,4.0.0
15,16,Fires,Shape,R*Tree Spatial Index successfully created,2017-05-17T22:12:36.334Z,3.9.0,4.0.0

In [17]:
sqlite_sequence = pd.read_sql(sql = 'select * from sqlite_sequence', con = conn)

In [35]:
sqlite_sequence

                         name      seq
0          spatialite_history       16
1                       Fires  1880465
2  NWCG_UnitIDActive_20170109     5867

In [18]:
geometry_columns = pd.read_sql(sql = 'select * from geometry_columns', con = conn)

In [36]:
geometry_columns

,f_table_name,f_geometry_column,geometry_type,coord_dimension,srid,spatial_index_enabled
0,fires,shape,1,2,4269,1

In [19]:
spatial_ref_sys_aux = pd.read_sql(sql = 'select * from spatial_ref_sys_aux', con = conn)